* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  font-family: "Karla", serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  width: 550px;
  background-color: #ffffff;
  margin-top: 3rem;
}

.header {
  width: inherit;
  height: 65px;
  background: linear-gradient(90deg, #672280, #a626d3);
  padding: 20px 30px;
  display: flex;
  align-items: center;
}

.header__logo {
  width: 31px;
  margin-right: 7px;
  fill: white;
}

.header__logo--text {
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
}
